.App {
    background-image: url('./img/Tatsu-Back-Tattoo.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
}

.ReactStudent {
    border-radius: 20px;
    border: 5px solid black;
    margin: 5% 10% 10% 10%;
    background-color: #CD5C5C90;
    font-weight: bold;
}

.StudentName {
    border-radius: 20px;
    border: 5px solid black;
    margin: 3% 40% 3% 40%;
    background-color: #CD5C5C90;
}

.StudentBio {
    border-radius: 20px;
    border: 5px solid black;
    margin: 0 20%;
    background-color: #CD5C5C90;
    font-weight: bold;
    margin-bottom: 1%;
}

.ScoreTitle {
    border-radius: 20px;
    border: 5px solid black;
    margin: 3% 40%;
    background-color: #CD5C5C90;
    font-weight: bold;
}

.Date {
    border-radius: 20px;
    border: 2px solid black;
    margin: 0 40%;
    background-color: #CD5C5C90;
    font-weight: bold;
    margin-top: 5%;
}

.Score {
    border-radius: 20px;
    border: 2px solid black;
    margin: 0 45% 2% 45%;
    background-color: #CD5C5C90;
    font-weight: bold;
}

hr {
    width: 70vw;
}